* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.line{
    margin: 0 60px 30px 60px;
    width: 40%;
}

/* Home */

/* main */

.home{
    /* margin-bottom: 30px */
}

.home__main{
    display: flex;
    height: inherit;
    padding: 0 60px;
    height: 500px;
    margin-bottom: 30px;
}

.main__bg{
    background-image: url("../static/home_main.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-radius: 15px;
    width: 50%;
    height: inherit;
    margin-right: 15%;
}

.main__intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__fio{
    font-size: 64px;
    font-weight: 800;
    line-height: 64px;
    color: #333;
}

.main__fio:nth-child(2){
    margin-bottom: 25px;
}

.main_vac{
    font-size: 32px;
    font-weight: 500;
    color: #f5b955;
}

/* hello */

.home__hello{
    margin-bottom: 30px;
}

/* contacts */

.home__contacts{
    display: flex;
    height: inherit;
    padding: 0 60px;
    height: 500px;
}